{% extends 'forum/base.html' %}


    {% block content %}
    {% if user.last_name == '' %}
        <div class="container text-center">
            <h3 style="padding-top:10%">Добро пожаловать {{ user.username }}, на данный момент у вас нет прав доступа <br> если вы тарман, отправьте телеграммой игроку KuboC ваше имя и адрес электронной почты!</h3>
        </div>
    {% else %}
    <div class="container">
        <h1 class="text-center" style="margin:5% auto;">Закрытые Посты</h1>
        <ul>
            {% for post in posts %}
                <li>
                    <a href="{% url 'viewpost' post.id %}">
                        {% if not post.important %}
                            <div class="allpost_container">
                                <h4>{{ post.title }}</h4>
                                    <div class="allpost_info">
                                        <b><p>Дата создания: {{ post.date_created|date:' d.m.Y ' }}</p></b>
                                        <b><p>Автор: {{ post.user }}</p></b>
                                    </div>
                            </div>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
<style>
        a {
            text-decoration:none;
            color:black;
        }
        .allpost_container {
            padding:10px;
            margin:3% auto;
            border: 2px solid black;
        }
        .allpost_info {
                display: flex;
                justify-content: space-between;
                font-size: 20px;
        }
        .container ul{
            list-style-type: none;
        }

    </style>
    <script>
        var listItems = document.querySelectorAll('.test li');
        listItems.forEach(function(item) {
          if (item.querySelector('a').innerHTML.trim() === '') {
            item.remove();
          }
        });
    </script>
    {% endblock %}